__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
ENV/
build/
dist/
.eggs/
*.egg-info/
.pytest_cache/
htmlcov/
.mypy_cache/
.coverage
coverage.xml
instance/
.env
.venv
.vscode/
.idea/
*.sqlite3
*.db
Thumbs.db
.DS_Store
